@import "setup";

//██████████ LAYOUT ██████████
body {
  background: #87ff87;
  display: flex;
  align-items: center;
  min-height: 100vh;
}
.wrapper {
  width: 75%;
  max-width: 300px;
  margin: 0 auto;
}
main {
  width: 100%;
}
//██████████ CASE ██████████
.case {
  border-bottom-left-radius: 75px;
  border-bottom-right-radius: 75px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  background: #ffff00;
  box-shadow: 0px 20px #ffd900;
  position: relative;
}
.buttons {
  margin: 0 auto;
  width: fit-content;
  margin-bottom: 20px;
  .button {
    display: inline-block;
    height: 40px;
  }
  .button1 {
    &:hover ~ .stat1{
      background: red;
    }
  }
}
.button {
  width: 40px;
  background: #1acaff;
  box-shadow: inset 0px -5px #0096c4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  margin: 0 10px;
  cursor: pointer;
}
.buttonOptions {
  height: 25px;
  position: absolute;
  top: -5px;
  left: 10px;
  &:hover {
    background: red;
  }
}
.screen {
  background: #ffc0cb;
  height: 200px;
  width: calc(100% - 40px);
  margin: 30px 20px 20px 20px;
  border-radius: 10px;
  font-family: 'VT323', monospace;
  color: #df2e4b;
  position: relative;
  &::before {
    content: "";
    background: #ffb3bf;
    height: 40%;
    width: 100%;
    display: block; 
    position: absolute;
    bottom: 0;
    z-index: 1;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .menuBar {
    background: #ff8b9e;
    height: 25px;
    padding: 5px 20px 0 20px;
    position: relative;
    p, label {
      // display: inline-block;
      display: block;
    }
    .label1 {
      position: absolute;
      top: 5px;
      left: 20px;
    }
    .label2 {
      text-align: center;
      width: 100%;
    }
    .label3 {
      position: absolute;
      right: 20px;
      top: 5px;
    }
  }
  .statsMenu {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    box-shadow: inset 0px 5px #ff7b91;
  }
  .buttonMenu {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    bottom: -150px;
    z-index: 20;
  }
  //██████████ PET VIEW ██████████
  .petView {
    font-size: 70px;
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    z-index: 10;
  }
}